    /*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
    
    @font-face {
        font-family: 'HK Grotesk';
        src: url('../fonts/hk-grotesk.regular.ttf') format('truetype'), url('../fonts/HKGrotesk-Regular.otf') format('opentype'), url('../fonts/HKGrotesk-Medium.otf') format('opentype');
    }
    
    body {
        font-family: "HK Grotesk";
    }
    
    a {
        color: #428bca;
    }
    
    a:hover {
        color: #9eccf4;
        text-decoration: none;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .font-primary {
        font-family: "HK Grotesk";
    }
    /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
    
    .back-to-top {
        position: fixed;
        display: none;
        width: 40px;
        height: 40px;
        border-radius: 3px;
        right: 15px;
        bottom: 90px;
        background: #6AC8B4;
        color: #fff;
        transition: display 0.5s ease-in-out;
        z-index: 99999;
    }
    
    .back-to-top i {
        font-size: 24px;
        position: absolute;
        top: 8px;
        left: 8px;
    }
    
    .back-to-top:hover {
        color: #fff;
        background: #629fd3;
        transition: background 0.2s ease-in-out;
    }
    /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
    
    #header {
        height: 100px;
        transition: all 0.5s;
        transition: all 0.5s;
        padding: 15px 0;
        background: #fff;
        z-index: 997;
    }
    
    #header .logo h1 {
        margin: 0;
        width: 153px;
        height: 55px;
        font-weight: 400;
    }
    
    #header .logo h1 a,
    #header .logo h1 a:hover {
        color: #1c5c93;
        text-decoration: none;
    }
    
    #header .logo img {
        padding: 0;
        margin: 0;
        max-height: 40px;
    }
    /* #header .container-fluid,
#header .container-lg,
#header .container-md,
#header .container-sm,
#header .container-xl {
    padding-right: 0px;
    padding-left: 0px;
} */
    /*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
    /* Desktop Navigation */
    
    .nav-menu,
    .nav-menu * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .nav-menu>ul>li {
        position: relative;
        white-space: nowrap;
        float: left;
    }
    
    .nav-menu a {
        display: block;
        position: relative;
        color: #19202E;
        padding: 12px 12px;
        transition: 0.3s;
        font-size: 17px;
        font-family: "HK Grotesk";
    }
    
    .nav-menu a:hover,
    .nav-menu .active>a,
    .nav-menu li:hover>a {
        color: #428bca;
        text-decoration: none;
    }
    
    .btn-info {
        background-color: #6AC8B4;
        border-color: #6AC8B4;
        color: #fff !important;
        width: 141px;
        height: 54px;
        font-weight: lighter;
        font-size: 17px;
        line-height: 30px;
        font-family: 'HK Grotesk';
    }
    /* Mobile Navigation */
    
    .mobile-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        z-index: 9999;
        overflow-y: auto;
        left: -260px;
        width: 260px;
        padding-top: 18px;
        background: #1f3548;
        transition: 0.4s;
    }
    
    .mobile-nav * {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .mobile-nav a {
        display: block;
        position: relative;
        color: #e3f0fc;
        padding: 10px 20px;
        font-weight: 500;
    }
    
    .mobile-nav a:hover,
    .mobile-nav .active>a,
    .mobile-nav li:hover>a {
        color: #9eccf4;
        text-decoration: none;
    }
    
    .mobile-nav .drop-down>a:after {
        content: "\ea99";
        font-family: IcoFont;
        padding-left: 10px;
        position: absolute;
        right: 15px;
    }
    
    .mobile-nav .active.drop-down>a:after {
        content: "\eaa0";
    }
    
    .mobile-nav .drop-down>a {
        padding-right: 35px;
    }
    
    .mobile-nav .drop-down ul {
        display: none;
        overflow: hidden;
    }
    
    .mobile-nav .drop-down li {
        padding-left: 20px;
    }
    
    .mobile-nav-toggle {
        position: fixed;
        right: 15px;
        top: 20px;
        z-index: 9998;
        border: 0;
        background: none;
        font-size: 24px;
        transition: all 0.4s;
        outline: none !important;
        line-height: 1;
        cursor: pointer;
        text-align: right;
    }
    
    .mobile-nav-toggle i {
        color: #5c768d;
    }
    
    .mobile-nav-overly {
        width: 100%;
        height: 100%;
        z-index: 9997;
        top: 0;
        left: 0;
        position: fixed;
        background: rgba(31, 53, 72, 0.7);
        overflow: hidden;
        display: none;
    }
    
    .mobile-nav-active {
        overflow: hidden;
    }
    
    .mobile-nav-active .mobile-nav {
        left: 0;
    }
    
    .mobile-nav-active .mobile-nav-toggle i {
        color: #fff;
    }
    /* ----------- iPad ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /* ----------- iPhone X ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
        .btn-contact {
            float: left !important;
            left: 20px;
        }
    }
    /*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
    
    #hero {
        width: 100%;
        height: calc(100vh - 114px);
        padding: 0;
        overflow: hidden;
    }
    
    #hero .carousel-item {
        width: 100%;
        height: calc(100vh - 114px);
        background-size: cover;
        background-position: top right;
        background-repeat: no-repeat;
        overflow: hidden;
    }
    
    #hero .carousel-item::before {
        content: '';
        background-color: rgba(13, 30, 45, 0.6);
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        overflow: hidden;
    }
    
    #hero .carousel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
    }
    
    #hero .carousel-content {
        text-align: left;
    }
    
    @media (max-width: 992px) {
        #hero,
        #hero .carousel-item {
            height: calc(100vh - 70px);
        }
        #hero .carousel-content.container {
            padding: 0 50px;
        }
    }
    
    #hero h2 {
        color: #fff;
        margin-bottom: 30px;
        font-size: 48px;
        font-weight: 900;
    }
    
    #hero p {
        width: 80%;
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
        color: #fff;
    }
    
    #hero .carousel-inner .carousel-item {
        transition-property: opacity;
        background-position: center top;
    }
    
    #hero .carousel-inner .carousel-item,
    #hero .carousel-inner .active.carousel-item-left,
    #hero .carousel-inner .active.carousel-item-right {
        opacity: 0;
    }
    
    #hero .carousel-inner .active,
    #hero .carousel-inner .carousel-item-next.carousel-item-left,
    #hero .carousel-inner .carousel-item-prev.carousel-item-right {
        opacity: 1;
        transition: 0.5s;
    }
    
    #hero .carousel-inner .carousel-item-next,
    #hero .carousel-inner .carousel-item-prev,
    #hero .carousel-inner .active.carousel-item-left,
    #hero .carousel-inner .active.carousel-item-right {
        left: 0;
        transform: translate3d(0, 0, 0);
    }
    
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
        width: 10%;
    }
    
    #hero .carousel-control-next-icon,
    #hero .carousel-control-prev-icon {
        background: none;
        font-size: 48px;
        line-height: 1;
        width: auto;
        height: auto;
    }
    
    #hero .carousel-indicators li {
        cursor: pointer;
    }
    
    #hero .btn-get-started {
        font-family: "HK Grotesk";
        font-weight: 500;
        font-size: 17px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 20px 35px;
        border-radius: 3px;
        transition: 0.5s;
        line-height: 1;
        margin: 10px;
        color: #fff;
        -webkit-animation-delay: 0.8s;
        animation-delay: 0.8s;
        border: 0;
        background: #88C242;
    }
    
    #hero .btn-get-started:hover {
        background: #1c5c93;
    }
    
    @media (max-width: 768px) {
        #hero h2 {
            font-size: 28px;
        }
    }
    
    @media (min-width: 1024px) {
        #hero p {
            width: 60%;
        }
        #hero .carousel-control-prev,
        #hero .carousel-control-next {
            width: 5%;
        }
    }
    /*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
    
    #about {
        padding: 0px;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    
    #about .title {
        font-size: 17px;
        font-weight: bold;
        color: #4897AF;
        font-family: 'HK Grotesk';
        margin-bottom: 50px;
        /* line-height: 4; */
    }
    
    #about .summary {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 30px;
    }
    
    #about .about-content {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
    #about .about-content-highlight {
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 30px;
        color: #E9703F;
        font-style: italic;
    }
    
    #about .about-content-list li {
        line-height: 32px;
        list-style-type: square;
        text-indent: -1.5em;
        padding-left: 1.5em;
        font-size: 16px;
    }
    /*--------------------------------------------------------------
# Bioanalytical Section
--------------------------------------------------------------*/
    
    #bioanalytical {
        background-color: #F5F9EF;
        height: 1000px;
        background-image: url('../img/1.png');
        background-position-x: center;
        background-position-y: center;
        width: 100%;
        background-size: 50%;
        background-repeat: no-repeat;
    }
    
    #bioanalytical .title {
        font-size: 36px;
        line-height: 40px;
        margin-top: 100px;
    }
    
    #bioanalytical .sub-content-1 {
        position: absolute;
        text-align: end;
        width: 25%;
        margin-top: 300px;
    }
    
    #bioanalytical .sub-content-title {
        font-size: 17px;
        font-weight: lighter;
        line-height: 40px;
    }
    
    #bioanalytical .sub-content-text {
        font-size: 15px;
        font-weight: lighter;
        line-height: 23px;
    }
    
    #bioanalytical .sub-content-2 {
        position: absolute;
        text-align: end;
        width: 25%;
        margin-top: 550px;
    }
    
    #bioanalytical .sub-content-3 {
        position: absolute;
        text-align: start;
        width: 25%;
        margin-top: 750px;
        margin-left: 510px;
    }
    
    #bioanalytical .sub-content-4 {
        position: absolute;
        text-align: start;
        width: 25%;
        margin-top: 250px;
        margin-left: 770px;
    }
    
    #bioanalytical .sub-content-5 {
        position: absolute;
        text-align: start;
        width: 25%;
        margin-top: 500px;
        margin-left: 850px;
    }
    
    #bioanalytical .btn-biomarket {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }
    
    #bioanalytical .btn-biomarket:hover {
        background: #88C242;
        color: #fff;
    }
    
    #bioanalytical .btn-pk {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }
    
    #bioanalytical .btn-pk:hover {
        background: #88C242;
        color: #fff;
    }
    
    #bioanalytical .btn-trending {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }
    
    #bioanalytical .btn-trending:hover {
        background: #88C242;
        color: #fff;
    }
    
    #bioanalytical .btn-ada {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }
    
    #bioanalytical .btn-ada:hover {
        background: #88C242;
        color: #fff;
    }
    
    #bioanalytical .btn-biosimilar {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
        display: none;
    }
    
    #bioanalytical .btn-biosimilar:hover {
        background: #88C242;
        color: #fff;
    }
    
    #bioanalytical .b-rm {
        line-height: 26px;
        color: #6AC8B4;
        font-weight: 600;
        font-size: 15px;
    }
    /* ----------- Non-Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        #bioanalytical {
            background-color: #F5F9EF;
            height: 1000px;
            background-image: url('../img/1.png');
            background-position-x: center;
            background-position-y: center;
            width: 100%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        #bioanalytical .title {
            font-size: 36px;
            line-height: 40px;
            margin-top: 100px;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 300px;
        }
        #bioanalytical .sub-content-title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 40px;
        }
        #bioanalytical .sub-content-text {
            font-size: 15px;
            font-weight: lighter;
            line-height: 23px;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 550px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 750px;
            margin-left: 510px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 250px;
            margin-left: 770px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 500px;
            margin-left: 850px;
        }
        #bioanalytical .btn-biomarket {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-pk {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-trending {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-trending:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-ada {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-biosimilar {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .b-rm {
            line-height: 26px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 15px;
        }
    }
    /* ----------- Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        #bioanalytical {
            background-color: #F5F9EF;
            height: 1000px;
            background-image: url('../img/1.png');
            background-position-x: center;
            background-position-y: center;
            width: 100%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        #bioanalytical .title {
            font-size: 36px;
            line-height: 40px;
            margin-top: 100px;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 300px;
        }
        #bioanalytical .sub-content-title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 40px;
        }
        #bioanalytical .sub-content-text {
            font-size: 15px;
            font-weight: lighter;
            line-height: 23px;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 550px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 750px;
            margin-left: 510px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 250px;
            margin-left: 770px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 500px;
            margin-left: 850px;
        }
        #bioanalytical .btn-biomarket {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-pk {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-trending {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-trending:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-ada {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-biosimilar {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .b-rm {
            line-height: 26px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 15px;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        #bioanalytical {
            background-color: #F5F9EF;
            height: 800px;
            background-image: url('../img/1.png');
            background-position-x: center;
            background-position-y: center;
            width: 100%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        #bioanalytical .title {
            font-size: 36px;
            line-height: 0px;
            margin-top: 85px;
            width: 100%;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 235px;
        }
        #bioanalytical .sub-content-title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-text {
            font-size: 15px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 425px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 540px;
            margin-left: 320px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 170px;
            margin-left: 490px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 400px;
            margin-left: 520px;
        }
        #bioanalytical .btn-biomarket {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-pk {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-trending {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-trending:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-ada {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-biosimilar {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .b-rm {
            line-height: 20px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 15px;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #bioanalytical {
            background-color: #F5F9EF;
            height: 800px;
            background-image: url('../img/1.png');
            background-position-x: center;
            background-position-y: center;
            width: 100%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        #bioanalytical .title {
            font-size: 36px;
            line-height: 0px;
            margin-top: 85px;
            width: 100%;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 235px;
        }
        #bioanalytical .sub-content-title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-text {
            font-size: 15px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 445px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 595px;
            margin-left: 425px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 215px;
            margin-left: 650px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 400px;
            margin-left: 690px;
        }
        #bioanalytical .btn-biomarket {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-pk {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-trending {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-trending:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-ada {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-biosimilar {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .b-rm {
            line-height: 20px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 15px;
        }
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
        #bioanalytical {
            height: 600px !important;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 220px;
        }
        #bioanalytical .sub-content-title {
            font-size: 11px;
            font-weight: lighter;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-text {
            font-size: 10px;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 330px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 380px !important;
            margin-left: 165px !important;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 190px;
            margin-left: 250px !important;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 310px;
            margin-left: 265px !important;
        }
        #bioanalytical .btn-biomarket {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: transparent;
        }
        #bioanalytical .btn-pk {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: transparent;
        }
        #bioanalytical .btn-trending {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            display: none;
            line-height: 10px !important;
        }
        #bioanalytical .btn-trending:hover {
            background: transparent;
        }
        #bioanalytical .btn-ada {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: transparent;
        }
        #bioanalytical .btn-biosimilar {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: transparent;
        }
        #bioanalytical .b-rm {
            height: 70px;
            width: 22px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 7px;
            border-bottom: 1px solid #6AC8B4;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
        #bioanalytical {
            height: 600px !important;
        }
        #bioanalytical .title {
            font-size: 25px;
            line-height: 20px;
            margin-top: 40px;
            width: 100%;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 22%;
            margin-top: 180px;
        }
        #bioanalytical .sub-content-title {
            font-size: 11px;
            font-weight: lighter;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-text {
            font-size: 10px;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 325px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 375px;
            margin-left: 150px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 165px;
            margin-left: 230px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 310px;
            margin-left: 240px;
        }
        #bioanalytical .btn-biomarket {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: transparent;
        }
        #bioanalytical .btn-pk {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: transparent;
        }
        #bioanalytical .btn-trending {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            display: none;
            line-height: 10px !important;
        }
        #bioanalytical .btn-trending:hover {
            background: transparent;
        }
        #bioanalytical .btn-ada {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: transparent;
        }
        #bioanalytical .btn-biosimilar {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: transparent;
        }
        #bioanalytical .b-rm {
            height: 70px;
            width: 22px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 7px;
            border-bottom: 1px solid #6AC8B4;
        }
    }
    /* Portrait */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #bioanalytical {
            background-color: #F5F9EF;
            height: 800px;
            background-image: url('../img/Aegyris_Bioanalytical@2x.png');
            background-position-x: center;
            background-position-y: center;
            width: 100%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
        #bioanalytical .title {
            font-size: 36px;
            line-height: 0px;
            margin-top: 85px;
            width: 100%;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 255px;
        }
        #bioanalytical .sub-content-title {
            font-size: 17px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-text {
            font-size: 15px;
            font-weight: lighter;
            line-height: 20px;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 440px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 590px;
            margin-left: 430px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 210px;
            margin-left: 650px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 400px;
            margin-left: 680px;
        }
        #bioanalytical .btn-biomarket {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-pk {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-trending {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-trending:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-ada {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .btn-biosimilar {
            width: 100px;
            height: 32px;
            border-color: #88C242;
            color: #88C242;
            font-size: 10px;
            line-height: 20px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: #88C242;
            color: #fff;
        }
        #bioanalytical .b-rm {
            line-height: 20px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 15px;
        }
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        #bioanalytical {
            height: 600px !important;
        }
        #bioanalytical .title {
            font-size: 25px;
            line-height: 20px;
            margin-top: 40px;
            width: 100%;
        }
        #bioanalytical .sub-content-1 {
            position: absolute;
            text-align: end;
            width: 22%;
            margin-top: 180px;
        }
        #bioanalytical .sub-content-title {
            font-size: 11px;
            font-weight: lighter;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-text {
            font-size: 10px;
            line-height: 10px !important;
        }
        #bioanalytical .sub-content-2 {
            position: absolute;
            text-align: end;
            width: 25%;
            margin-top: 325px;
        }
        #bioanalytical .sub-content-3 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 360px;
            margin-left: 125px;
        }
        #bioanalytical .sub-content-4 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 125px;
            margin-left: 190px;
        }
        #bioanalytical .sub-content-5 {
            position: absolute;
            text-align: start;
            width: 25%;
            margin-top: 305px;
            margin-left: 210px;
        }
        #bioanalytical .btn-biomarket {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biomarket:hover {
            background: transparent;
        }
        #bioanalytical .btn-pk {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-pk:hover {
            background: transparent;
        }
        #bioanalytical .btn-trending {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            display: none;
            line-height: 10px !important;
        }
        #bioanalytical .btn-trending:hover {
            background: transparent;
        }
        #bioanalytical .btn-ada {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-ada:hover {
            background: transparent;
        }
        #bioanalytical .btn-biosimilar {
            width: 70px;
            height: 22px;
            border-color: #88C242;
            color: #88C242;
            font-size: 7px;
            line-height: 10px;
            display: none;
        }
        #bioanalytical .btn-biosimilar:hover {
            background: transparent;
        }
        #bioanalytical .b-rm {
            height: 70px;
            width: 22px;
            color: #6AC8B4;
            font-weight: 600;
            font-size: 7px;
            border-bottom: 1px solid #6AC8B4;
        }
    }
    /*--------------------------------------------------------------
# Bioanalytical Sub Section
--------------------------------------------------------------*/
    
    #bio-sub {
        width: 100%;
        overflow: hidden;
    }
    
    #bio-sub .bio-sub-item-1 {
        background-color: #2F917D;
        height: 730px;
    }
    
    #bio-sub .bio-sub-item-2 {
        background-color: #41819D;
        height: 730px;
    }

    #bio-sub .bio-sub-item-3 {
        background-color: #2F917D;
        height: 730px;
    }

    #bio-sub .bio-sub-item-4 {
        background-color: #41819D;
        height: 730px;
    }
    
    #bio-sub .bio-sub-item-5 {
        background-color: #4E864C;
        height: 730px;
    }
    
    #bio-sub .title {
        font-style: bold;
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 70px;
        color: #fff;
    }
    
    #bio-sub .sub-title {
        font-size: 16px;
        font-weight: lighter;
        line-height: 26px;
        color: #fff;
    }
    
    #bio-sub .content-list li {
        line-height: 26px;
        list-style-type: square;
        text-indent: -1.5em;
        padding-left: 1.5em;
        font-size: 16px;
        color: #fff;
    }
    
    #bio-sub .sub-img-ada {
        width: 300px;
        height: 200px;
    }
    
    #bio-sub .sub-img-pk {
        width: 300px;
        height: 200px;
    }
    
    #bio-sub .sub-img-trending {
        width: 300px;
        height: 200px;
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .sub-img-ada {
            width: 98%;
        }
        #bio-sub .sub-img-pk {
            width: 265px;
            height: 200px;
        }
        #bio-sub .sub-img-trending {
            width: 265px;
            height: 200px;
        }
    }
    /* ----------- iPad 1, 2, Mini and Air ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        #bio-sub .bio-sub-item-1 {
            height: 800px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 800px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 800px;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #bio-sub .bio-sub-item-1 {
            height: 1750px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1750px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1750px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #bio-sub .bio-sub-item-1 {
            height: 1750px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1750px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1750px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* ----------- iPhone X ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #bio-sub .bio-sub-item-1 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 1500px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 1500px;
        }
    }
    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 800px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 800px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 800px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* ----------- iPad Pro 10.5" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* ----------- iPad Pro 12.9" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* ----------- Non-Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /* ----------- Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        #bio-sub .bio-sub-item-1 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-2 {
            height: 730px;
        }
        #bio-sub .bio-sub-item-3 {
            height: 730px;
        }
    }
    /*--------------------------------------------------------------
# Productivity Section
--------------------------------------------------------------*/
    
    #productivity {
        padding: 0px;
    }
    
    #productivity .title {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 40px;
    }
    
    #productivity .sub-title {
        font-size: 20px;
        font-weight: lighter;
        line-height: 40px;
    }
    
    #productivity .content {
        font-size: 16px;
        line-height: 26px;
        padding-left: 30px;
    }
    
    #productivity .child-1 {
        margin-top: 100px;
        margin-bottom: 100px;
    }
    
    #productivity .content-image {
        background-color: rgba(136, 194, 66, 0.250);
    }
    
    #productivity .btn-p-get-quote {
        width: 100px;
        height: 32px;
        border-color: #88C242;
        color: #88C242;
        font-size: 10px;
        line-height: 20px;
    }
    
    #productivity .btn-p-get-quote:hover {
        background: #88C242;
        color: #fff;
    }
    
    #productivity .p-rm {
        line-height: 26px;
        color: #6AC8B4;
        font-weight: 600;
        font-size: 16px;
    }
    
    #productivity .img-productivity {
        height: 40%;
        width: 60%;
    }
    /* ----------- iPad 1, 2, Mini and Air ----------- */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        #productivity .img-productivity {
            height: 80%;
            width: 60%;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #productivity .img-productivity {
            height: 40%;
            width: 80%;
        }
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #productivity .img-productivity {
            height: 80%;
            width: 60%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- iPhone X ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- iPad 3, 4 and Pro 9.7" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 40%;
            width: 80%;
        }
    }
    /* ----------- iPad Pro 10.5" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 60%;
            width: 80%;
        }
    }
    /* ----------- iPad Pro 12.9" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 40%;
            width: 80%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
        #productivity .img-productivity {
            height: 80%;
            width: 80%;
        }
    }
    /* ----------- Non-Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
        #productivity .img-productivity {
            height: 55%;
            width: 80%;
        }
    }
    /* ----------- Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
        #productivity .img-productivity {
            height: 55%;
            width: 80%;
        }
    }
    /*--------------------------------------------------------------
# Art Analyzer Section
--------------------------------------------------------------*/
    
    #art-analyzer .content-image {
        background-color: #6AC8B4;
    }
    
    #art-analyzer .content-text {
        background-color: #19202E;
        color: white;
    }
    
    #art-analyzer .title {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
    }
    
    #art-analyzer .art-txt-content {
        font-size: 16px;
        line-height: 26px;
    }
    
    #art-analyzer .child {
        padding: 60px;
    }
    
    #art-analyzer .child>li {
        line-height: 26px;
        list-style-type: square;
        text-indent: -1.5em;
        padding-left: 1.5em;
        font-size: 16px;
    }
    
    #art-analyzer .img-analyzer {
        height: 80%;
        width: 80%;
    }
    /* ----------- iPhone 4 and 4S ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 95%;
        }
    }
    /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 95%;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #art-analyzer .img-analyzer {
            height: 60%;
            width: 90%;
        }
    }
    /* ----------- iPhone 6, 6S, 7 and 8 ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /* ----------- iPhone 6+, 7+ and 8+ ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /* ----------- iPhone X ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
        #art-analyzer .img-analyzer {
            height: 95%;
            width: 90%;
        }
    }
    /*--------------------------------------------------------------
# Powerful Reporting Section
--------------------------------------------------------------*/
    
    #reporting {
        background-color: #F5F9EF;
    }
    
    #reporting .content {
        font-size: 16px;
        line-height: 26px;
        margin-top: 100px;
    }
    
    #reporting .title {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #reporting .sub-title {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
    }
    
    #reporting .summary {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    
    #reporting li {
        line-height: 32px;
        list-style-type: square;
        text-indent: -1.5em;
        padding-left: 1.5em;
        font-size: 16px;
    }
    
    #reporting .img-reporting {
        height: 50%;
        width: 80%;
    }
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #reporting {
            height: 780px;
        }
    }
    /*--------------------------------------------------------------
# Audit Section
--------------------------------------------------------------*/
    
    #audit {
        margin-bottom: 100px;
    }
    
    #audit .content {
        font-size: 16px;
        line-height: 26px;
        margin-top: 100px;
    }
    
    #audit .title {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 20px;
        text-align: center;
    }
    
    #audit .sub-title {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
    }
    
    #audit .summary {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        margin-bottom: 30px;
        margin-top: 40px;
    }
    
    #audit li {
        line-height: 32px;
        list-style-type: square;
        text-indent: -1.5em;
        padding-left: 1.5em;
        font-size: 16px;
    }
    
    #audit .img-audit {
        height: 50%;
        width: 80%;
    }
    /*--------------------------------------------------------------
# Resources Section
--------------------------------------------------------------*/
    
    #resources {
        background-color: #F5F9EF;
        height: 826px;
    }
    
    #resources .content {
        font-size: 16px;
        line-height: 26px;
        margin-top: 100px;
    }
    
    #resources .title {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 40px;
        text-align: center;
    }
    
    #resources h4 {
        text-align: left;
        font-size: 22px;
    }
    
    #resources p {
        text-align: left;
        font-size: 16px;
    }
    
    #resources .btn-success {
        background-color: #88C242;
        text-align: center;
        border-color: #88C242;
        color: white;
        width: 130px;
        height: 44;
    }
    
    #resources .btn-success:hover {
        box-shadow: none;
        pointer-events: unset;
    }
    
    #resources .btn-outline-success {
        background-color: #fff;
        border-color: #88C242;
        color: #88C242;
        width: 130px;
        height: 44;
    }
    
    #resources .btn-outline-success:hover {
        box-shadow: none;
        pointer-events: unset;
    }
    
    #resources .button {
        background-color: #6AC8B4;
        border-radius: 100px;
        background-image: url('../img/icons/right.png');
        height: 50px;
        width: 50px;
        border: 5px solid #fff;
    }
    /* Tablet and up */
    
    @media screen and (min-width: 768px) {
        #resources .carousel-inner .active,
        #resources .carousel-inner .active+.carousel-item {
            display: block;
        }
        #resources .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        #resources .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
            -webkit-transition: none;
            transition: none;
        }
        #resources .carousel-inner .carousel-item-next,
        #resources .carousel-inner .carousel-item-prev {
            position: relative;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        #resources .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
            position: absolute;
            top: 0;
            right: -50%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        #resources .active.carousel-item-left+.carousel-item-next.carousel-item-left,
        #resources .carousel-item-next.carousel-item-left+.carousel-item {
            position: relative;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* farthest right hidden item must be abso position for animations */
        #resources .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* right or prev direction */
        #resources .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
        #resources .carousel-item-prev.carousel-item-right+.carousel-item {
            position: relative;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
        #resources .carousel-control-next {
            right: -30px;
            opacity: unset;
        }
    }
    /* ----------- iPad Pro 12.9" ----------- */
    /* Portrait */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #resources .carousel-control-next {
            right: -45px !important;
        }
    }
    /* Desktop and up */
    
    @media screen and (min-width: 992px) {
        #resources .carousel-inner .active,
        #resources .carousel-inner .active+.carousel-item,
        #resources .carousel-inner .active+.carousel-item+.carousel-item {
            display: block;
        }
        #resources .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        #resources .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
        #resources .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
            -webkit-transition: none;
            transition: none;
        }
        #resources .carousel-inner .carousel-item-next,
        #resources .carousel-inner .carousel-item-prev {
            position: relative;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        #resources .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        #resources .active.carousel-item-left+.carousel-item-next.carousel-item-left,
        #resources .carousel-item-next.carousel-item-left+.carousel-item,
        #resources .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
        #resources .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
            position: relative;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* farthest right hidden item must be abso position for animations */
        #resources .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* right or prev direction */
        #resources .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
        #resources .carousel-item-prev.carousel-item-right+.carousel-item,
        #resources .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
        #resources .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
            position: relative;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
        #resources .carousel-control-next {
            right: -70px;
            opacity: unset;
        }
    }
    /*--------------------------------------------------------------
# Contact Us Section
--------------------------------------------------------------*/
    
    #contact {
        padding: 0px;
    }
    
    #contact .title {
        font-size: 17px;
        font-weight: bold;
        color: #4897AF;
        font-family: 'HK Grotesk';
        margin-bottom: 50px;
        /* line-height: 4; */
    }
    
    #contact .summary {
        font-size: 36px;
        font-weight: lighter;
        line-height: 40px;
        margin-bottom: 50px;
    }
    
    #contact .contact-content {
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        margin-bottom: 30px;
    }
    
    #contact .btn-read-more {
        width: 130px;
        height: 44px;
        border-color: #88C242;
        color: #88C242;
        font-size: 14px;
        font-weight: lighter;
        text-align: center;
    }
    
    #contact .btn-read-more:hover {
        background-color: #88C242;
        color: #fff;
    }
    
    #contact .form {
        background-color: #19202E;
    }
    
    #contact .form-title {
        font-size: 36px;
        line-height: 40px;
        font-weight: bold;
        color: white;
        margin-top: 100px;
    }
    
    .contact .info-box {
        color: #444;
        text-align: center;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        padding: 20px 0 30px 0;
        margin-bottom: 30px;
        width: 100%;
    }
    
    .contact .info-box i {
        font-size: 32px;
        color: #428bca;
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #9eccf4;
    }
    
    .contact .info-box h3 {
        font-size: 20px;
        color: #666;
        font-weight: 700;
        margin: 10px 0;
    }
    
    .contact .info-box p {
        padding: 0;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 0;
    }
    
    [placeholder]::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .8);
    }
    
    [placeholder]:hover::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .4);
    }
    
    [placeholder]:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    [placeholder]::-moz-placeholder {
        color: rgba(255, 255, 255, .8);
    }
    
    [placeholder]:hover::-moz-placeholder {
        color: rgba(255, 255, 255, .4);
    }
    
    [placeholder]:focus::-moz-placeholder {
        color: transparent;
    }
    
    [placeholder]:-ms-input-placeholder {
        color: rgba(255, 255, 255, .8);
    }
    
    [placeholder]:hover:-ms-input-placeholder {
        color: rgba(255, 255, 255, .4);
    }
    
    [placeholder]:focus:-ms-input-placeholder {
        color: transparent;
    }
    
    .contact .php-email-form {
        padding: 30px;
        margin-right: 140px;
    }
    
    .contact .php-email-form .validate {
        display: none;
        color: red;
        margin: 0 0 15px 0;
        font-weight: 400;
        font-size: 13px;
    }
    
    .contact .php-email-form .error-message {
        display: none;
        color: #fff;
        background: #ed3c0d;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .sent-message {
        display: none;
        color: #fff;
        background: #18d26e;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }
    
    .contact .php-email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }
    
    .contact .php-email-form .loading:before {
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0 10px -6px 0;
        border: 3px solid #18d26e;
        border-top-color: #eee;
        -webkit-animation: animate-loading 1s linear infinite;
        animation: animate-loading 1s linear infinite;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form textarea,
    .contact .php-email-form select {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        background: rgba(142, 142, 142, 0.25);
        color: #fff;
    }
    
    .contact .php-email-form select>option {
        color: #000000;
    }
    
    .contact .php-email-form .form-control {
        border: 1px solid rgba(0, 0, 0, .25);
    }
    
    .contact .php-email-form .form-group {
        margin-bottom: 0.5rem;
    }
    
    .contact .php-email-form select.form-control:not([size]):not([multiple]) {
        height: unset;
    }
    
    .contact .php-email-form input::focus,
    .contact .php-email-form textarea::focus {
        background-color: #428bca;
    }
    
    .contact .php-email-form input,
    .contact .php-email-form select {
        padding: 13px 15px;
        border-radius: 3px;
    }
    
    .contact .php-email-form textarea {
        padding: 12px 15px;
        height: 120px;
        border-radius: 3px;
    }
    
    .contact .php-email-form button[type="submit"] {
        background: #88C242;
        border-radius: 3px;
        border-color: #88C242;
        color: #fff;
        font-size: 16px;
    }
    
    .contact .php-email-form button[type="submit"]:hover {
        background-color: #6AC8B4;
    }
    
    @media screen and (max-width: 768px) {
        .contact .php-email-form {
            margin-right: 0px;
        }
    }
    /*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/
    
    #footer {
        background: #19202E;
        padding: 0 0 30px 0;
        color: #fff;
        font-size: 14px;
    }
    
    #footer .footer-top-bar {
        background: #19202E;
        border-top: 1px solid #19202E;
        border-bottom: 1px solid #313948;
        border-bottom-style: dashed;
        padding: 40px 0 20px 0;
    }
    
    #footer .footer-top-bar .footer-info h3 {
        font-size: 30px;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 36px;
    }
    
    #footer .footer-top-bar .footer-info h6 {
        font-size: 20px;
        font-weight: lighter;
    }
    
    #footer .footer-top-bar .footer-info p {
        font-size: 15px;
        margin-left: 30px;
    }
    
    #footer .footer-top {
        background: #19202E;
        border-top: 1px solid #19202E;
        border-bottom: 1px solid #313948;
        border-bottom-style: dashed;
        padding: 60px 0 30px 0;
    }
    
    #footer .footer-top .footer-info {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-info h3 {
        font-size: 24px;
        margin: 0 0 20px 0;
        padding: 2px 0 2px 0;
        line-height: 1;
        font-weight: lighter;
    }
    
    #footer .footer-top .footer-info p {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 0;
        font-family: "HK Grotesk";
        color: #fff;
    }
    
    #footer .footer-top .social-links a {
        font-size: 18px;
        display: inline-block;
        background: #2f353a;
        color: #fff;
        line-height: 1;
        padding: 8px 0;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 36px;
        height: 36px;
        transition: 0.3s;
    }
    
    #footer .footer-top .social-links a:hover {
        background: #428bca;
        color: #fff;
        text-decoration: none;
    }
    
    #footer .footer-top h4 {
        font-size: 24px;
        font-weight: lighter;
        color: #fff;
        position: relative;
        padding-bottom: 12px;
        line-height: 32px;
    }
    
    #footer .footer-top .footer-links {
        margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #footer .footer-top .footer-links ul i {
        padding-right: 2px;
        color: #9eccf4;
        font-size: 16px;
        line-height: 34px;
    }
    
    #footer .footer-top .footer-links ul li {
        padding: 10px 0;
        display: flex;
        align-items: center;
    }
    
    #footer .footer-top .footer-links ul li:first-child {
        padding-top: 0;
    }
    
    #footer .footer-top .footer-links ul a {
        color: #fff;
        transition: 0.3s;
        display: inline-block;
        line-height: 1;
    }
    
    #footer .footer-top .footer-links ul a:hover {
        color: #9eccf4;
    }
    
    #footer .copyright {
        font-size: 16px;
        padding-top: 20px;
        line-height: 26px;
    }
    /* Portrait */
    
    @media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
        #footer .footer-top-bar .footer-info h6 {
            font-size: 18px;
        }
    }